<!DOCTYPE html>
<html lang="en" style="height: 100%!important;background-color: rgba(43,51,70,1);">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kungfu BBQ Reset Password</title>
    <link rel="icon" href="/img/logo500.png">
    <!-- CSS FILES START HERE -->
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <!-- CUSTOM CSS -->
    <style>
        body{
            background-color: transparent!important;
        }
        html,body {
            height: 100%!important;
        }
        p, .h6,label{
            font-size: 1.5rem!important;
        }
        .h1, .h6{
            color: white;
        }
    </style>
<!-- CSS FILES END HERE -->
</head>
<body>
    <div id="mainForm" class=".container-fluid mx-auto my-auto w-100 h-100">
        <div class="text-center" style="margin-top: 10px;">
            <img src="/img/logo500.png" alt="Kungfu BBQ logo" height="10%" >
            <div class="h1">Password recovery</div>
            <div class="h6">_______________________________________</div>

            <div id="alert" class="container alert alert-danger alert-dismissible fade show" role="alert">
                <p><strong>Invalid access credential!</strong></p>
                <div id="errors" class="container mx-auto my-auto text-left w-100">
                    <p>Your token to reset the password has expired. Please, go to <i>Forgot Password</i> on your mobile app to resquest a new valid token in your email!</p>
                    <p>Hope to see you here soon!</p>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- SCRIPT FILES START HERE -->
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/js/bootstrap/jquery.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
</html>