<!DOCTYPE html>
<html lang="en" style="height: 100%!important;background-color: rgba(43,51,70,1);">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kungfu BBQ Reset Password</title>
    <link rel="icon" href="/img/logo500.png">
    <!-- CSS FILES START HERE -->
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <!-- CUSTOM CSS -->
    <style>
        html,body {
            height: 100%!important;
        }
        body{
            background-color: transparent!important;
        }
        p, .h6,label{
            font-size: 1.5rem!important;
        }
        .h1,.h6,.whiteText,label{
            color: white;
        }
    </style>
<!-- CSS FILES END HERE -->
</head>
<body>
    <div id="mainForm" class=".container-fluid mx-auto my-auto w-100 h-100">
        <div class=".container-fluid mx-auto my-auto text-center w-100 h-50" style="margin-top: 10px;">
            <img src="/img/logo500.png" alt="Kungfu BBQ logo" height="65%" >
            <div class="h1">Password recovery</div>
            <div class="h6">___________________</div>

            <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                <p><strong>Password reset error!</strong></p>
                <div id="errors" class="container mx-auto my-auto text-left w-100"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <br>
            <p class="whiteText">Hi <strong><%= name %></strong>!</p>
            <input name="email" type="email" value="<%= email %>" disabled hidden>
            <input name="token" type="text" value="<%= token %>" disabled hidden>
            <br>
            <div class="container text-center h-50">
                <label for="password">Please inform a new password:    </label>
                <input type="password" placeholder="8 characters only" name="password" maxlength="8">
                <label for="password" style="font-size: 0.8rem!important">*At least one CAPITAL letter and one number required</label>
                <br><br>
                <label for="confirmPassword">Please confirm your new password: </label>
                <input type="password" placeholder="8 characters only" name="confirmPassword" maxlength="8"> 
                <label for="confirmPassword" style="font-size: 0.8rem!important">*At least one CAPITAL letter and one number required</label>
                <div class=".container-fluid" style="height: 5%!important;"></div>
                <div class="container mx-auto my-auto text-center">
                    <button id="submitBtn"class="btn btn-primary" type="button">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div id="successPage" class=".container-fluid mx-auto my-auto w-100 h-100" style="display: none;">
        <div class="text-center" style="margin-top: 10px;">
            <img src="/img/logo500.png" alt="Kungfu BBQ logo" height="10%" >
            <div class="h6">_______________________________________</div>
            <br>
            <p class="whiteText"><strong><%= name %></strong> your password reset was successfully done!</p>
            <div class="h6">_______________________________________</div>
         </div>
    </div>
</body>
<!-- SCRIPT FILES START HERE -->
    <script src="/js/resetPasswordPage/main.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/js/bootstrap/jquery.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
</html>